#!/usr/bin/env bash

if type -P lorri &>/dev/null; then
  eval "$(lorri direnv)"
elif type -v nix &>/dev/null; then
  use flake .
else
  echo "The shell is set up via Nix, but it seems it is not installed."
  echo "Please setup your shell manually following README's instructions."
fi
